src/main/resources/VideoGameScheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="videoGame">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:unsignedByte" />
                <xs:element name="name" type="xs:string" />
                <xs:element name="releaseDate" type="xs:dateTime" />
                <xs:element name="reviewScore" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="category" type="xs:string" use="required" />
            <xs:attribute name="rating" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>